@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
	@apply bg-white/95 text-zinc-800 transition-colors duration-500 ease-in-out;
}

html.dark {
	@apply bg-zinc-900 text-slate-100;
}

body {
	-moz-osx-font-smoothing: grayscale;
	font-family: Inter, Arial, sans-serif;
	font-weight: 400;
	box-sizing: border-box;
}
